
/* Header */
header{
    background-color: rgb(122, 120, 120);
    padding: 0 1rem;
    position: center;
    z-index: 99;
    width: 100%;
}

  /* Main */
  main{
    background-color: rgb(253, 253, 253);  
    font-family: 'Lucida Sans Unicode';
      letter-spacing: 0.2em;
      text-align: justify;
      font-weight: 400;
} 