
/* Header */
header{
    background-color: rgb(122, 120, 120);
    z-index: 99;
    width: 100%;
}

  /* Main */
  main{
    background-color: rgb(253, 253, 253);  
    font-family: 'Lucida Sans Unicode';
      letter-spacing: 0.2em;
      text-align: justify;
      font-weight: 300;
  }
  section{
    background-color:rgb(179, 175, 175 ,0.2);
    border:5px rgb(7, 7, 163)e;
    border-style: groove;
    margin-top: 15px;
  }
  p{
    width: 95%;
    margin: auto;
    padding: 2px; 
   }
 section a {
    color: inherit;
    text-decoration: underline;
 }
/* footer */
footer{
    background-color: #333;
    color: white;
}

footer a {
    color: inherit;
    text-decoration: underline;
}
/* To the Top Botton */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(163, 160, 160); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 10px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  .divG {
    width: 50%;
    margin: 50%;
  }
  /* Nedia query: tablets and Larger views(768px and up */
  @media screen and (min-width:780px){
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content:center  
    }
    li{
        flex: auto;
        height: auto;
        width: 30%;
        margin: 10px;
    }
    p{
        width: 95%;
        margin: auto;
        padding: 5px; 
       }
    
  }
